:root{
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000;
    --accent-color: #18A0FB;
    --primary-white-color: #fff;
}

body{
    color: var(--primary-text-color);
    background: var(--primary-white-color);

    font-family: Montserrat, sans-serif;

}
ul {
    list-style: none;
}

a {
   text-decoration: none;
}