/* html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
} */

:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000;
    --accent-color: #18A0FB;
    --primary-white-color: #fff;
    --secondary-bg-color: #F5F5F5;
}

body {
    color: var(--primary-text-color);
    background: var(--primary-white-color);

    font-family: Montserrat, sans-serif;
    letter-spacing: -0.01em;
    font-size: 18px;
    line-height: 1.67;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* li {
    outline: 1px solid red;
}

li * {
    outline: 2px solid palegreen;
} */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}