.container {
    padding-left: 20px;
    padding-right: 20px;

    width: 1540px;
    margin: 0 auto;
    outline: 2px solid teal;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    gap: 12px;
    margin-right: 70px;
    color: var(--title-text-color);

    font-family: Comfortaa, cursive;
    font-size: 28px;
    line-height: 1.14;
}

.logo:hover,
.logo:focus {
    color: var(--accent-color);
}

.site-nav {
    display: flex;
}

.site-nav li:not(:last-child) {
    margin-right: 40px;
}

.site-nav a {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;

    color: var(--accent-color);
    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;


}

.site-nav a:hover,
.site-nav a:focus {
    color: var(--title-text-color);
}

.site-nav .link.current {
    color: var(--title-text-color);
}

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav li:not(:last-child) {
    margin-right: 12px;
}

.hero {
    text-align: center;
}

.hero-title {
    color: var(--title-text-color);

    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
    margin-bottom: 40px;
}

.section {
    padding: 120px 0;
}

.section-bg {
    background-color: var(--secondary-bg-color);
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    color: var(--title-text-color);

    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;

    margin-bottom: 60px;
}

.centered {
    text-align: center;
}

.section-description {
    font-size: 36px;
    line-height: 1.39;
}

.section-description.sub-title {
    margin-bottom: 80px;
}

.preferences-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.preferences-list li {
    flex-basis: calc((100% - 160px)/3);

}

.preferences-thumb {
    margin-bottom: 40px;
}

.preferences-description {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    margin-bottom: 24px;
}

.examples>.item {
    display: flex;
    align-items: center;

    padding-bottom: 80px;
    padding-top: 80px;
}

.examples>.item:nth-child(2n) {
    background-color: var(--secondary-bg-color);
    flex-direction: row-reverse;
}

.examples>.item:nth-child(2n+1) .content {
    margin-left: 84px;
}

.examples>.item:nth-child(2n) .content {
    margin-right: 84px;
    line-height: 1.4;
}


.features-title,
.examples-title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;

    margin-bottom: 24px;
}

.features-description {
    margin-bottom: 24px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 148px;
}

.features li {
    flex-basis: calc((100% - 148px) / 2);
}

.features-link {
    color: var(--accent-color);
}

.client-list {
    display: flex;
    flex-wrap: wrap;
    width: 1060px;
    margin-left: auto;
    margin-right: auto;
}

.client-list li {
    margin: 30px 45px;
}

.signup {
    display: flex;
    align-items: center;

}

.signup-content {
    width: 944px;
}

.signup-content p {
    font-size: 36px;
}

.signup-list {
    display: flex;
    gap: 45px;
    margin-left: auto;
}

.upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 1px solid;

}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 80px;
}

.flex-list {
    display: flex;
    gap: 80px;
}


.button {
    color: var(--title-text-color);
    background: var(--primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;

    display: inline-block;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 11px 34px;
    min-width: 130px;
    text-align: center;

}

.button.primary {
    color: var(--primary-white-color);
    background: var(--accent-color);
}

.button.secondary {
    color: var(--accent-color);
    background: var(--primary-white-color);
    border-color: var(--accent-color);
}



/* Community page */
.community-hero {
    background: linear-gradient(to right, rgba(236, 233, 230, 0.9), rgba(255, 255, 255, 0.9)),
        url('../images/community-hero.jpg');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;

}

.section-title.cards {
    margin-bottom: 30px;
    max-width: 750px;
}

.cards.sub-title {
    font-size: 36px;
    line-height: 1.4;
    max-width: 1392px;
    margin-bottom: 100px;
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 84px;
}

.card-set .item {
    flex-basis: calc((100% - 168px) / 3);

    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.card-img {
    width: 100%;
}

.card-content {
    padding: 71px 64px 64px;
}

.card-content h3 {
    margin-bottom: 24px;
}

.community-set {
    display: flex;
    gap: 148px;
    flex-wrap: wrap;
}

.community-set li {
    flex-basis: calc((100% - 148px) / 2);
}

.community-thumb {
    margin-bottom: 40px;
}

.community-content {
    margin-bottom: 32px;
}

.community-content h3 {
    margin-bottom: 24px;
}

.signup-content.right-margin {
    margin-right: 148px;
}

.flex-company {
    display: flex;
    justify-content: space-between;
    gap: 84px;
    align-items: center;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 84px;
}

.company-list li {
    flex-basis: calc((100% - 168px) / 3);
}

.footer-upper {
    display: flex;
    align-items: top;
    padding-bottom: 60px;

    border-bottom: 1px solid;
}

.footer-list {
    display: flex;
    column-gap: 80px;
    margin-right: 140px;
    margin-left: auto;

}

.footer-list .item {
    display: flex;
    flex-direction: column;
    margin-left: auto;

}

.footer-list .item h3 {
    margin-bottom: 16px;
}

.footer-signup .item:first-child {
    margin-bottom: 16px;
}

.bottom-footer {
    display: flex;
    align-items: center;
    padding-top: 32px;
}

.copyright {
    font-size: 15px;
    line-height: 1.6;
}

.network-container {
    display: flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

.network-list {
    display: flex;
    gap: 21px;
}

.company-card {
    border: 1px solid;
    max-width: 686px;
}