.footer {
    padding: 20px 0;
background: linear-gradient(180deg, #180f07 0%, #0e0703 100%);
}

.upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid getColor(primary-white-color);

    @media screen and (min-width:1560px) {
        padding-bottom: 48px;
    }

}

.footer-bottom {
    @include flexed(20px, nowrap);
    flex-direction: column;
    align-items: center;
    padding-top: 20px;

    @media screen and (min-width:768px) {
        @include flexed(20px, nowrap);
    }

    @media screen and (min-width:1560px) {
        @include flexed(40px, nowrap);
        padding-top: 60px;
    }

    >p {
        font-size: 15px;

        @media screen and (min-width:768px) {
            font-size: 18px;
        }
    }
}

.flex-list {
    @media screen and (min-width:1560px) {
        @include flexed(80px, wrap);
    }

    li>a {
        @include font(15px, 700, 1.6, getColor(primary-white-color));
    }
}

.footer-upper {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width:768px) {
        padding-bottom: 40px;
    }

    @media screen and (min-width:1560px) {
        padding-bottom: 60px;
    }

    border-bottom: 1px solid;
}

.footer-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.footer-menu.is-open {
    max-height: 200px;
}

.footer-list {
    @media screen and (min-width:768px) {
        display: flex;
        column-gap: 80px;
    }

    @media screen and (min-width:1540px) {
        margin-right: 140px;
        margin-left: auto;
    }

    .item {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        margin-left: auto;

        @media screen and (min-width:768px) {
            margin-bottom: 0px;
        }
    }

    .is-open {
        display: block;
        max-height: 500px;
    }

}


.footer-list .item {
    cursor: pointer;

    h3 {
        @include font(17px, null, 1.6, getColor(primary-white-color));
        transition: color 300ms $transition-func;

        @media screen and (min-width:768px) {
            margin-bottom: 16px;
        }

        &:hover {
            color: getColor(accent-color);
        }
    }

    a {
        @include font(15px, null, 1.6, getColor(primary-white-color));
        transition: color 300ms $transition-func;
    
        &:hover {
            color: getColor(accent-color);
        }

}
}


.footer-signup {
    display: none;

    @media screen and (min-width:1540px) {
        display: block;
    }

    .item {
        button {
            @include flexed(10px, nowrap);
            align-items: center;
            width: 160px;
        }

        &:first-child{
            margin-bottom: 16px;
        }

        &:hover,
        &:focus{
            .icon-register,
            .icon-register{
                fill: getColor(primary-white-color);
            }
        }

        &:hover,
        &:focus{
            .icon-enter,
            .icon-enter{
                fill: getColor(accent-color);
            }
        }
        
    }

}

.bottom-footer {
    text-align: center;

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }
}

.copyright {
    padding: 14px 0;

    @include font(15px, null, 1.6, getColor(primary-white-color));

    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
}
