.page-header {
    position: fixed;
    padding: 10px 0;
    border-bottom: 2px solid getColor(primary-white-color);
    color: getColor(primary-white-color);
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 999;
    transition: background-color 0.3s ease;
  }
  
  .page-header.white-bg {
    // background-color: getColor(primary-white-color);
    // color: getColor(title-text-color);

    background-image: 
    linear-gradient(0deg, rgba(13, 13, 12, 0.5) 0%, rgba(13, 13, 12, 0.5) 100%),
    url("../../images/examples-3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    fill: getColor(primary-white-color);
    @include flexed(12px, nowrap);
    @include font(28px, null, 1.14, getColor(primary-white-color));

    font-family: Comfortaa, cursive;

    @media screen and (min-width:768px) {
        @include font(28px, null, 1.14, null);
        margin-right: 70px;
    }


    &:hover,
    &:focus {
        color: getColor(accent-color);
        fill: getColor(accent-color);
    }
}

.logo-img {
    width: 32px;
    height: 32px;
}

.site-nav {
    @media screen and (min-width:1540px) {
        @include flexed(10px, nowrap);
        margin-left: auto;
    }
}

.site-nav li {
    @media screen and (min-width:1540px) {
        position: relative;
        display: inline-block;

        &:not(:last-child) {
            margin-right: 40px;
        }

        &::after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: getColor(accent-color);
            border-radius: 4px;
            transform: scaleX(0);

            transition: transform 300ms $transition-func;
        }

        &:hover::after,
        &:focus::after {
            transform: scaleX(1);
        }
    }

}

.site-nav a {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;

    @include font(22px, 500, 1.14, getColor(primary-white-color));

    transition: color 300ms $transition-func;

    &:hover,
    &:focus {
        color: getColor(accent-color);
    }
}

.link.current {
    color: getColor(accent-color);
}

.centered-title {
    text-align: center;
}

.support-submenu {
    display: none;

    @media screen and (min-width:map-get($breakpoint, desktop)){
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    background-color: getColor(accent-color);

    top: 100%;
    left: 0;
    min-width: 240px;
    text-align: start;
    display: none;
    transition: background-color 300ms $transition-func;

    .site-nav li:hover &,
    .site-nav li:focus & {
        display: block;
    }

    .support-link {
        color: getColor(primary-white-color);
        padding: 14px;
        transition: color 300ms $transition-func;

        &:hover,
        &:focus,
        &:active{
            color: getColor(title-text-color);
        }
    }
    } 
}

.auth-nav {
    display: inline-block;
    margin-top: 150px;

    @media screen and (min-width:1540px) {
        @include flexed(12px, nowrap);
        margin-left: auto;
        margin-top: 0px;
    }

    li a {
        @include flexed(10px, nowrap);
        align-items: center;
        justify-content: center;
        min-width: 159px;
        margin-bottom: 20px;
    
        @media screen and (min-width:1540px) {
            margin-bottom: 0px;
        }
    }
}

.auth-icon {
    display: block;
    width: 16px;
    height: 16px;
}

.icon-enter {
    fill: getColor(primary-white-color);

    transition: fill 300ms $transition-func;
}

.icon-register {
    fill: getColor(accent-color);

    transition: fill 300ms $transition-func;
}

.auth-nav li:hover .icon-enter,
.auth-nav li:focus .icon-enter {
    fill: getColor(accent-color);

}

.auth-nav li:hover .icon-register,
.auth-nav li:focus .icon-register {
    fill: getColor(primary-white-color);
}