.section {
    padding: 80px 0;
    
    @media screen and (min-width:map-get($breakpoint, tablet)) {
        padding: 120px 0;
    }
}

.centered {
    text-align: center;
}

.section-bg {
    background-color: getColor(secondary-bg-color);
}

.section-bg-dark{
    // background-color: #180f07;
    background-image: 
    url('../../images/wavs-bgr.webp'),
    getColor(dark-bg-gradient);
  background-repeat: repeat-x, no-repeat;
  background-position: center left, center;
  background-size: auto, cover;}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    text-align: center;
    
    @include font(36px, 400, 1.3, getColor(title-text-color));
    margin-bottom: 30px;

    @media screen and (min-width:map-get($breakpoint, tablet)) {
        font-weight: 600;
        font-size: 48px;
        margin-bottom: 40px;
        line-height: 1.5;
    }

    @media screen and (min-width:map-get($breakpoint, desktop)) {
        text-align: start;
        margin-bottom: 60px;
    }

}

.white{
    color: getColor(primary-white-color);
}

.section-description {
    @include font(24px, null, 1.39, null);

    @media screen and (min-width:map-get($breakpoint, tablet)) {
        @include font(36px, null, 1.39, null);
    }
}

.sub-title {
    @include font(24px, null, 1.39, null);
    margin-bottom: 30px;
    max-width: 1392px;

    @media screen and (min-width:map-get($breakpoint, tablet)) {
        @include font(36px, null, 1.39, null);
        margin-bottom: 40px;
    }

    @media screen and (min-width:map-get($breakpoint, desktop)) {
        margin-bottom: 60px;
    }
}

.highlight {
    position: relative;
    display: inline-block;
  }

  .highlight::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 36px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 150" preserveAspectRatio="none"><path d="M6.1,133.6c0,0,173.4-20.6,328.3-14.5c154.8,6.1,162.2,8.7,162.2,8.7s-262.6-4.9-339.2,13.9 c0,0,113.8-6.1,162.9,6.9" fill="none" stroke="%23064a67" stroke-width="9"/></svg>') no-repeat center bottom;
    background-size: contain;
  }