.client {

.title{
    text-align: center;
}

.list {
    @include flexed(20px, wrap);
    justify-content: space-between;

    

    li {
        flex-basis: calc((100% - 40px)/2);
        border-radius: 4px;

        &:hover .client-icon,
        &:focus .client-icon {
            border: 2px solid getColor(accent-gold);
            fill: getColor(accent-gold);
        }
    }
}

@media screen and (min-width: map-get($breakpoint, tablet)) {
    .list {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;

        li {
            flex-basis: calc((100% - 60px) / 4);
        }
    }
}

@media screen and (min-width: map-get($breakpoint, desktop)) {
    .list {
        @include flexed(40px, wrap);

        li {
            flex-basis: calc((100% - 120px) / 4);
        }
    }
}

.client-list li>a {
    display: block;
    width: 100%;
}

.client-icon {
    display: block;
    width: 100%;
    height: 76px;
    border: 2px solid getColor(accent-color);
    border-radius: 4px;
    fill: getColor(accent-color);

    transition: border 300ms $transition-func,
    fill 300ms $transition-func;

}

}


