.section.contact-form{
    // background-color: #191c26;
    // background: #22130c;
    background-color: #180f07;

    .bg-image{
        @media screen and (min-width:map-get($breakpoint, desktop)) {
            display: flex;
        align-items: center;
        width: 59%;
            min-height: 784.48px;
            padding-left: 64px;
            background-image: 
            linear-gradient(90deg,
                      rgba(13, 13, 12, 0.8) 0%,
                      rgba(13, 13, 12, 0.05) 100%),
                  url('../../images/example-1.webp');
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
           }
    
           .section-title{
            color: getColor('primary-white-color');
           }
    
           .form-wrapper.support{
            @media screen and (min-width:map-get($breakpoint, desktop)) {
                margin-left: 0;
            }
           }
    }
}