.section.contact-form{
    background-image: 
    url('../../images/wavs-bgr.webp'),
    getColor(dark-bg-gradient);
  background-repeat: repeat-x, no-repeat;
  background-position: center left, center;
  background-size: auto, cover;

    .flex-container{
        justify-content: center;
        gap:0;
    }

   
     .bg-image{
        @media screen and (min-width:map-get($breakpoint, desktop)) {
            display: flex;
            width: 50%;
            align-items: center;
            background-image: url('../../images/camera-2.png');;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }
    }

        .section-title {
            display: none;
            @media screen and (min-width:map-get($breakpoint, desktop)) {
                display: block;
                color: getColor(accent-gold);
                align-self: flex-start;
                margin-left: auto;
                margin-left: auto;
            }
        }

        .form-wrapper.support {
            border: 1px solid getColor(accent-gold);

            @media screen and (min-width:map-get($breakpoint, desktop)) {
                margin-left: 0;
                width: 50%;
            }

            .flex-form input:focus + .form-label,
.flex-form input:not(:placeholder-shown) + .form-label,
.form input:focus + .form-label,
.form input:not(:placeholder-shown) + .form-label
{
    color: getColor(accent-gold);
    transform: translateY(-50px);
}
        }

        
    }
