.examples > .item {
  padding: 20px;
  padding-bottom: 20px;
  outline: 2px solid getColor(secondary-bg-color);

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
    padding: 80px 20px;     
}

&:not(:last-child){
  margin-bottom: 40px;
}
    

    &:nth-child(2n){
        background-color: getColor(secondary-bg-color);
        flex-direction: row-reverse;
    }
}

.examples {
  @media screen and (min-width:768px) {
    .item {
      &:nth-child(2n+1) {
        .content {
          margin-left: 84px;
        }
      }
  
      &:nth-child(2n) {
        .content {
          margin-right: 84px;
        }
      }

    }    
} 
  }
  
.examples-caption {
    position: relative;
}

.examples-caption-text {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);

    font-weight: bold;
    padding: 4px;

    background-color: getColor(secondary-bg-color);
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.examples-title {
    @include font(24px, 700, 1.5, getColor(title-text-color)); 
    margin-bottom: 24px;
}