.location-section{

  .flex-container {
    flex-direction: column;
    gap: 2rem;
  }
  
  @media (min-width: 768px) {
    .flex-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 8rem;

    }
  }
  
  .location-text {
    margin-top: 60px;
    flex: 1;

 @media (min-width: 768px) {
  padding-left: 100px;
  border-left: 1px solid getColor(accent-color);
 }
  }
  
  
  .location-list {
    list-style: none;
    padding: 0;
    margin: 0;
  
    @media screen and (min-width: 1560px) {
      .flex-list {
          display: flex;
          gap: 80px;
          flex-wrap: wrap;
      }
  }
  }
  
  .location-list li {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.2rem;
  }
  
  .location-list .icon {
    width: 34px;
    height: 34px;
    fill: currentColor;
    flex-shrink: 0;
    color: #18A0FB;
  }
  
  .map-container {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    border: 4px solid getColor(accent-color);
    background: getColor(dark-bg-gradient);
    isolation: isolate;
    flex: 1;
  }
  
  .map-container iframe {
    width: 100%;
    height: 450px;
    border: none;
    filter: invert(90%) hue-rotate(180deg); /* робимо карту темною */
    transition: filter 0.3s ease;
  }
  
  .map-container:hover iframe {
    filter: invert(85%) hue-rotate(180deg) brightness(1.1);
  }
  
  .map-button {
    position: absolute;
    bottom: 16px;
    right: 56px;
    padding: 10px 14px;
    font-size: 0.95rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  }

}
