.signup {
    text-align: center;

     @media screen and (min-width:map-get($breakpoint, desktop)) {
        display: flex;
        align-items: center;
    }

    .signup-content {
    max-width: 944px;
    }

    .sub-title {
        text-align: center;

        @media screen and (min-width:map-get($breakpoint, desktop)) {
            text-align: start;
        }
    }

    .signup-list {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        @media screen and (min-width:map-get($breakpoint, desktop)) {
            margin-left: auto;
            gap: 45px;
        }

    }    


}



