@mixin flexed($gap, $wrap ){
    display: flex;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin font($size, $weight, $height, $color ){
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color;
}

@mixin section-hero($bgr-image, $bgr-color, $text-align) {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), $bgr-image;
    background-color: $bgr-color;
    text-align: $text-align;
}


