%button {
    color: getColor(title-text-color);
    background: getColor(primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;

    display: inline-block;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 11px 34px;
    min-width: 130px;
    text-align: center;

}

%section-hero{
    text-align: center;
    padding: 180px 0;
    background-image: linear-gradient(to right, rgba(236, 233, 230, 0.4), rgba(255, 255, 255, 0.2)),
        url('/images/hero-main.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}