.community-hero {
        @include section-hero(url('../../images/camera_612x612.jpg'),
            getColor(title-text-color),
            center);
    
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    
}