.section-hero.support{
        @include section-hero(url('../../images/camera.jpg'),
            getColor(title-text-color),
            center);   
}

    .hero-title{
        color: white;
        font-weight: 400;
    }


.support-register {
    align-items: center;

    @media screen and (min-width:1540px) {
        display: inline-flex;
        gap: 24px;
    }

    img{
        margin-bottom: 40px;

        @media screen and (min-width:1540px){
            margin-bottom: 0px;
        }
    }
}

.contact-list{
.item{
    &:not(:last-child){
        margin-bottom: 14px;
    }
}
}

.contact-link{
    margin-left: 20px;
    color: getColor(accent-color);
}

.support-preference{
    @include flexed(84px, nowrap);
    align-items: center;
}

.support-footer{
    display: flex;
    justify-content: space-between;
}

.contact-list{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid getColor(secondary-bg-color);
    border-bottom: 1px solid getColor(secondary-bg-color);    
}


