.button {
    color: getColor(title-text-color);
    background: getColor(primary-white-color);

    font-weight: 500;
    font-size: 15px;
    line-height: 1.14;

    display: inline-block;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 11px 34px;
    min-width: 130px;
    text-align: center;

}

.primary {
    color: getColor(primary-white-color);
    background-color: getColor(accent-color);

    transition: background-color 300ms $transition-func, color 300ms $transition-func;

    &:hover,
    &:focus{
        color: getColor(accent-color);
        background: getColor(primary-white-color);
        border: 1px solid getColor(accent-color);
    
    }
}

.secondary {
    color: getColor(accent-color);
    background-color: getColor(primary-white-color);
    border-color: getColor(accent-color);

    transition: background-color 300ms $transition-func, color 300ms $transition-func;

    &:hover,
    &:focus{
        color: getColor(primary-white-color);
        background: getColor(accent-color);
        border-color: getColor(accent-color);   
    }
}

