

.primary {
    @extend %button;
    color: getColor(primary-white-color);
    background-color: getColor(accent-color);

    transition: background-color 300ms $transition-func, color 300ms $transition-func;

    &:hover,
    &:focus{
        color: getColor(accent-color);
        background: getColor(primary-white-color);
        border: 1px solid getColor(accent-color);
    
    }
}

.secondary {
    @extend %button;
    color: getColor(accent-color);
    background-color: getColor(primary-white-color);
    border-color: getColor(accent-color);

    transition: background-color 300ms $transition-func, color 300ms $transition-func;

    &:hover,
    &:focus{
        color: getColor(primary-white-color);
        background: getColor(accent-color);
        border-color: getColor(accent-color);   
    }
}

