
.upper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 48px;
    border-bottom: 1px solid;

}

.footer-bottom {
    @include flexed(40px, nowrap);
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.flex-list {
    @include flexed(80px, wrap);

    li > a{
        @include font(15px, 700, 1.6, getColor(title-text-color)); 
    }
}


.footer-upper {
    display: flex;
    align-items: top;
    padding-bottom: 60px;

    border-bottom: 1px solid;
}

.footer-list {
    display: flex;
    column-gap: 80px;
    margin-right: 140px;
    margin-left: auto;

    .item {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    }

}


.footer-list .item h3 {
    margin-bottom: 16px;
}

.footer-list .item a {
    @include font(15px, null, 1.6, rgba(0, 0, 0, 0.80));
}

.footer-signup .item a {
    @include flexed(4px, nowrap);
}

.footer-signup .item:hover .icon-register,
.footer-signup .item:focus .icon-register {
    fill: getColor(primary-white-color);
}

.footer-signup .item:hover .icon-enter,
.footer-signup .item:focus .icon-enter {
    fill: getColor(accent-color);
}

.footer-signup .item:first-child {
    margin-bottom: 16px;
}

.bottom-footer {
    display: flex;
    align-items: center;
    padding-top: 32px;
}

.copyright {
    @include font(15px, null, 1.6, null);
}

.company-card {
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: getColor(primary-white-color);
    max-width: 686px;
}


.container.flex {
    display: flex;
    justify-content: space-between;
}

.footer-link  {
    @include font(15px, 700, 1.6, getColor(title-text-color));
}