.section {
    padding: 120px 0;
}

.centered {
    text-align: center;
}

.section-bg {
    background-color: getColor(secondary-bg-color);
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    text-align: center;
    @include font(36px, 400, 1.5, getColor(title-text-color));
    margin-bottom: 40px;

    @media screen and (min-width:768px) {
        text-align: start;
        font-size: 48px;
        margin-bottom: 60px;
    }

}

.section-description {
    @include font(36px, null, 1.39, null);
}

.section-description.sub-title {
    margin-bottom: 80px;
}

.sub-title {
    @include font(36px, null, 1.39, null);
    max-width: 1392px;
    margin-bottom: 100px;
}
