.signup {
    display: flex;
    align-items: center;

}

.signup-content {
    width: 944px;
}

.signup-content p {
    font-size: 36px;
}

.signup-list {
    display: flex;
    gap: 45px;
    margin-left: auto;
}
