.signup {
    align-items: center; 

    @media screen and (min-width:768px) {
        display: flex;
    }
}

.signup-content {
    max-width: 944px;
}

.signup-list {
    @include flexed(45px, null);
    justify-content: center;
    
    @media screen and (min-width:768px) {
        @include flexed(45px, null);
        margin-left: auto;
    }
}
