.section.support{
    // @extend %section-hero;
    background: black;
    background-image:
        url('../../images/camera.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    .hero-title{
        color: white;
    }
}

.support-register {
    align-items: center;

    @media screen and (min-width:1540px) {
        display: inline-flex;
        gap: 24px;
    }

    img{
        margin-bottom: 40px;

        @media screen and (min-width:1540px){
            margin-bottom: 0px;
        }
    }
}

.contact-list{
.item{
    margin-bottom: 14px;
}
}

.contact-link{
    margin-left: 20px;
    color: getColor(accent-color);
}

.support-preference{
    @include flexed(84px, nowrap);
    align-items: center;
}
