
.form-wrapper {
padding: 34px;
max-width: 450px;

@media screen and (min-width:1540px)
 {
    padding: 64px;
    min-width: 622px;
}
    border: 1px solid rgba(0, 0, 0, 0.50);

    margin-left: auto;
    margin-right: auto;
}

.form {
    max-width: 622px;
}

.form-field{
    position: relative;
    margin-bottom: 40px;
}

.form input,
.flex-form input {
    height: 40px;
    width: 100%;
    border-radius: 3px;
}

.form-label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);

    transition: transform 0.3s $transition-func;
}

.flex-form input:focus + .form-label,
.flex-form input:not(:placeholder-shown) + .form-label,
.form input:focus + .form-label,
.form input:not(:placeholder-shown) + .form-label
{
    color: getColor(accent-color);
    transform: translateY(-50px);
}

.form-title {
    @include font(24px, 700, 1.5, null);
    margin-bottom: 51px;
}

.input-row {

    @media screen and (min-width:1540px){
        @include flexed(10px, null);
    }
}

.input-row input {

    @media screen and (min-width:1540px){
        flex: 1;
        width: calc(492px /2 )- 5px;
    }
  
}

.form-button {
    width: 130px;
    align-self: flex-start;
}

.form-wrapper.support {
    margin-left: auto;
    margin-right: 0;
}

.flex-form {
    @include flexed(10px, null);
    justify-content: center;
    width: 100%;
}

.flex-form input {
    min-width: 300px;
}