.flex-company {
    @media screen and (min-width: map-get($breakpoint, desktop)) {    
    @include flexed(84px, nowrap);
    justify-content: space-between;
    align-items: center;
    }
}


.community-set {
    @media screen and (min-width: map-get($breakpoint, tablet)) {
        @include flexed(60px, wrap);    
    }

    @media screen and (min-width: map-get($breakpoint, desktop)) {
        @include flexed(148px, wrap);    
    }

    li {
        background-color: getColor(secondary-bg-color);
        border-radius: 100% 0% 76% 24% / 99% 39% 61% 1%;

        
        &:not(:last-child){
            margin-bottom: 40px;

            @media screen and (min-width: map-get($breakpoint, tablet)) {
                margin-bottom: 0;
            }
        }
        
        @media screen and (min-width: map-get($breakpoint, tablet)) {
            flex-basis: calc((100% - 60px) / 2);
        }
    
        @media screen and (min-width: map-get($breakpoint, desktop)) {
            flex-basis: calc((100% - 148px) / 2);
        }

        &:first-child:before {
            background-image: url('../../images/online-community.svg');
        }

        &:nth-child(2):before {
            background-image: url('../../images/masters.svg');
        }

        &::before {
            display: block;
            content: '';
            height: 100px;
            width: 100px;
            margin-bottom: 24px;
        
            background-size: contain;
            background-repeat: no-repeat;

            @media screen and (min-width:map-get($breakpoint, desktop)) {
                height: 140px;
                width: 140px; 
                margin-bottom: 40px; 
            }
        }
    }
}


.community-content {
    margin-bottom: 24px;

    h3 {
        margin-bottom: 24px;
    }
}



.signup-content.right-margin {
    margin-right: 148px;
}

.company-card {
    border: 1px solid rgba(0, 0, 0, 0.50);
    background: getColor(primary-white-color);

    @media screen and (min-width: map-get($breakpoint, desktop)) {
      max-width: 686px;   
    }
}

.company-list {
    @include flexed(30px, wrap);
    margin-bottom: 30px;

    @media screen and (min-width:map-get($breakpoint, desktop)){
        @include flexed(56px, wrap);
        margin-bottom: 0;
    }
}

.company-list li {
    flex-basis: calc((100% - 30px) / 2);

    @media screen and (min-width:map-get($breakpoint, desktop)) {
        flex-basis: calc((100% - 168px) / 3);
    }   
    }